<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.296778270177-56q56kf6u96jqtb4cv4vvb68vbm3rn8e</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>296778270177-56q56kf6u96jqtb4cv4vvb68vbm3rn8e.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>296778270177-5o062uar9e7ggi6al0m72n36auqf9ccl.apps.googleusercontent.com</string>
</dict>
</plist>
